<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Michael Elliott" />
    <meta name="description" content="elliotec | A software blog by Mike Elliott" />
    <meta name="google-site-verification" content="MFyo9_KaHWW1rrf6ct225HChB1FOm1Cf9o6Y60qyYtU" />
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "elliotec" %>
    <title>elliotec | Mike Elliott<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <style><%= sprockets.find_asset('marx').to_s %></style>
    <style><%= sprockets.find_asset('rouge').to_s %></style>
    <style><%= sprockets.find_asset('site').to_s %></style>
  </head>
  <body>
    <header>
      <a href="/">{ elliotec }</a>
    </header>
    <%= yield %>
    <p class="copyright">&copy; Elliotec Software LLC</p>
    <p class="rss"><a href="/feed.xml">RSS</a></p>
    <a href="https://plus.google.com/+MichaelElliott-elliotec?rel=author"></a>
    <a href="https://plus.google.com/100799948688623726078?rel=publisher"></a>
    <script>
      if(navigator.userAgent.indexOf("Speed Insights") == -1) {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-46276194-3', 'elliotec.com');ga('send', 'pageview');}
    </script>
    <script type="text/javascript">
      if (screen.width > 768) {
        document.write(`<script src="//instant.page/1.0.0" type="module" integrity="sha384-6w2SekMzCkuMQ9sEbq0cLviD/yR2HfA/+ekmKiBnFlsoSvb/VmQFSi/umVShadQI"></script>`);
       }
    </script>
  </body>
</html>
